.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
    
}

.con1 {
    background-color: #1F2937;
    color: #e5e7eb;
}

.title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-break: auto;
    white-space: pre;
    font-size: 48px;
    content: "\a";
    color: #e5e7eb;
}


button {
    border: none;
    background-color: #3882F6;
    color:#f9faf8;
    font-size: 18px;
    border-radius: 25px;
    padding: 0px;
    width: 150px;
    height: 50px;
}


h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;

}

x {
    display: flex;
    margin-top: -40px;
    font-size: 18px;
}

a {
    display: flex;
    justify-content: center;
    
}

.quote{ 
    color: #1F2937;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
}

h4 {
    display: flex;
    justify-content: right;
    font-style: normal;
}


.con2 {
    display: flex;
    background-color: #3882F6;
    align-items: baseline;
}

h5 {
    display: flex;
    justify-content: start;
    align-items: baseline;
}


button2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: medium;
    color: white;
}


p {
    display: flex;
    justify-content: center;
    font-size: large;
}

footer {
    margin-top: 50px;
    font-size: 18px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}
