body {
    font-family: monospace;
    background-color: #FEE715FF;
    text-align: center;
}
.header {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

h1 {
    display: flex;
    font-size: 59px;
    justify-content: center;
}


h2 {
   margin-bottom: -40px;
}

img {

    display: flex;
    float: right;
    text-align: center;
    justify-content: center;
    margin-top: -200px;
    margin-right: 100px;
    height: 300px;
    width: 400px;
    border: 10px solid;

}



.title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-break: auto;
    white-space: pre;
    font-size: 48px;
    content: "\a";
    color: black;
}

span {
    display: flex;
    align-items: center;
}



button {
    display: flex;
    justify-content: center;
    border: none;
    background-color: black;
    color:#f9faf8;
    font-size: 18px;
    border-radius: 25px;
    padding: 20px;
    width: 130px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: -50px;
}


h3 {
    display: flex;
    text-align: center;
    font-size: 36px;
    color: #FEE715FF;
    font-weight: bolder;

}


.illustration {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    margin-top: 200px;
    white-space: pre;
    padding: 50px;
}

.text {
    background-color: black;
    color: #FEE715FF;
}

a {
    display: inline-block;
    width: 15%;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
    border: 5px solid #FEE715FF;
    padding: 20px;
}

h4 {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: start;
    font-size: 20px;
}


x{
    display: flex;
    justify-content: left;
    font-size: 15px;

}

.quote{ 
    display: flex;
    color: #1F2937;
    font-size: 36px;
    justify-content: center;
    font-style: italic;
    padding: 50px;
    text-align: center;
}


p {
    display: flex;
    text-align: left;
    font-size: medium;
}

.con2{
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: black;
}

h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #FEE715FF;
}



button2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    color: #FEE715FF;
    padding: 50px;
    border: 2px solid #FEE715FF;
    margin-top: 20px;
    margin-left: 500px;
}



footer {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    padding: 20px;
    color: black;
    display: flex;
    justify-content: center;
}
