body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1F2937;
    text-align: center;
}
.header {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #e5e7eb;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-top: -20px;
}

h1 {
    display: flex;
    margin-left: 20px;
}


h2 {
    margin-bottom: -40px;
}

img {

    display: flex;
    background-color: grey;
    float: right;
    text-align: center;
    justify-content: center;
    margin-top: -200px;
    margin-right: auto;
    height: 100px;
    width: 200px;
    border: 10px solid grey;
}


.con1 {
    color: #e5e7eb;
    margin-left: 50px;
    
}

.title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-break: auto;
    white-space: pre;
    font-size: 48px;
    content: "\a";
    color: #e5e7eb;
}

span {
    display: flex;
    align-items: center;
}

.text {
    background-color: #e5e7eb;
}

button {
    display: flex;
    justify-content: left;
    border: none;
    background-color: #3882F6;
    color:#f9faf8;
    font-size: 18px;
    border-radius: 25px;
    width: 130px;
    text-align: justify;
    height: 40px;
}


h3 {
    display: flex;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;

}


.illustration {
    display: flex;
    align-items: center;
    background-color: #e5e7eb;
    justify-content: center;
    margin-top: 200px;
    content: "\div";
    white-space: pre;
    padding: 50px;
}

a {
    display: inline-block;
    width: 15%;
    height: 100px;
    text-align: center;
    background-color: #e5e7eb;
    margin-bottom: 100px;
    border: 5px solid black;
    padding: 20px;
}

h4 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 20px;
}


x {
    display: flex;
    text-align: left;
    margin-top: -50px;
    margin-right: -20px;
    font-size: 18px;
    content: "\x";
    white-space: pre;

}

.quote{ 
    display: flex;
    color: #1F2937;
    background-color: grey;
    font-size: 36px;
    font-style: italic;
    padding: 50px;

    text-align: center;
}

p {
    display: flex;
    text-align: left;
    font-size: medium;
}


.con2{
    display: flex;
    flex: wrap;
    font-size: small;
    justify-content: center;
    padding: 40px;
    background-color: #3882F6;
    border: 90px solid whitesmoke;
    flex-wrap: wrap;
}

h5 {
    display: flex;
    font-size: 40px;
    flex-wrap: nowrap;
    justify-content: start;
    font-size: large;
}

h6 {
    display: flex;
    font-size: 20px;
    margin-top: 80px;
    margin-left: -300px;
    flex: nowrap;
    text-align: bottom;
}



button2 {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid white;
    margin-top: 20px;
    margin-left: 500px;
}



footer {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}
